<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recent Posts Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <header th:insert="blocks/header :: header" />

    <main role="main">
        <div class="container mt-5 pt-5">
            <form class="alert alert-success" action="/blog/add" method="POST">
                <h3>New Post</h3>
                <div class="form-group">
                    <label for="post_title">Post Title</label>
                    <input class="form-control" id="post_title" name="title" type="text" />
                </div>
                <div class="form-group">
                    <label for="post_text">Post Text</label>
                    <textarea class="form-control" id="post_text" name="text" maxlength="2500" rows="12" style="resize: none;"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Add Post</button>
            </form>
        </div>
    </main>

    <footer th:insert="blocks/footer :: footer" />
</body>
</html>