<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>No Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header" />

<main role="main">
    <div class="alert alert-danger mt-5 pt-5" >
        <h3 class="row pl-5">Unfortunately, we couldn't find the post you are looking for. Maybe it was deleted...</h3>
        <hr>
    </div>
</main>

<footer th:insert="blocks/footer :: footer" />
</body>
</html>