<div th:fragment="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">LONELY BLOG</a>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-5 pr-2">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link" href="/add-post">New Post </a>
                </li>
                <li class="nav-item pr-2">
                    <a class="nav-link" href="/about">Contacts </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
